{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block style %}
<style> body {
   background-image: url("static/cmda-images/bg-image.jpg");
   background-size: cover;
   background-color: black;
   }
</style>
{% endblock %}

{% block navbar_class %}
   bg-transparent border navbar navbar-expand-md navbar-dark
{% endblock %}

{% block body %}
    <!--HEADER SECTION-->
    <header class="cmda-logo">
        <img class="login_logo" src="static/cmda-images/cmda-logo.png" alt="logo">
    </header>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<center>
   <form method="post" action="{{ url_for('forgot_password') }}" enctype="multipart/form-data" class="login-preview">
      
      <div class="login">Forgot Password</div>
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}

    <div>
        <p class="username">
            <label for="{{ form.email.id }}">Email:</label>
            {{ form.email(class="form-control mx-auto w-auto") }}
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            <div class="login-button">
                {{ form.submit(class="log-button") }}
            </div>
        </p>
    </div>
        
   </form>
</center>
{% endblock %}