{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block style %}
<style>
body {
    color: black;
    background-color: antiquewhite;
}
</style>
{% endblock %}

{% block body %}
    <!--HEADER SECTION-->
    <header class="cmda-logo">
        <img class="login_logo" src="static/cmda-images/cmda-logo.png" alt="logo">
    </header>
    
 
    <h1>Reset Password</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<center>
   <form method="post" action="{{ url_for('reset_password', token=token) }}" enctype="multipart/form-data" class="login-preview">
      
      <div class="login">Forgot Password</div>
        <p class="password">New Password:
            <input type="password" name="new_password" required>
        </p>
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        <button type="submit">Reset Password</button>
        
   </form>
</center>
{% endblock %}
